@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

/* Navbar */
.navbar {
  font-family: Readex Pro;
  font-size: 18px;
}

.textshadow {
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.nav-link {
  text-transform: uppercase;
  margin-right: 30px;
}

/* Textarea */
.input {
    margin-top: 150px;
    font-family: 'Source Code Pro', monospace;
}

.hasil {
    margin-top: 130px;
    font-family: 'Source Code Pro', monospace;
}